nav {
	display: flex;
	justify-content: flex-end;
	margin-right: 80px;
	margin-bottom: 0px;
	padding: 5px 5px 10px 0px;
}
li{
    display: flex;
    margin: 50px;
}
ul{
    display: flex;
    margin: 20px;
}
main{
    display: flex;
    width: 100%;
    background-color:rgb(247, 241, 241);
}
.left_section{
    display: flex;
    width: 20%;
    background-color: white;
}
.info {
    width: 230px;
    margin: 0 auto;

}
.pics{
    text-align: center;
}
.bio{
    width: 200px;
    margin: 0 auto;
}

.bio_icon{
    display: flex;
    width: 200px;
    justify-content: space-between;
    text-align: center;

}
.bio_data{
    background-color: orange;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
}

.name_tag{
    font-size: 20px;
    font-weight: 200;
}
.left_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
 
.btn{
    width: 150px;
    margin: 100px 35px 20px 35px;
    border: none;
    border-radius: 3px;
    background-color:orange;
    color: white;
    padding: 10px 15px;   
}

.skill{
    padding-left: 15px;
}



.right_section{
    margin-left: 30px;
}
.btn2{

    border: none;
    border-radius: 3px;
    background-color:orange;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
}

.details{
    display: flex;
    width: 1000px;
    background-color: white;
    margin: 0 auto;
}

.talks{
    width: 500px;
    padding-left: 15px;
}

.name{
 font-size: 45px;
 font-weight: 800;
}
span{
    color: orange;
}

.right_img{
    /* width: 100%; */
}

.services{
    text-align: center;
}
.text{
    width: 450px;
    text-align: center;
    margin: 0 auto;
}

.myservices{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicesitems{
background-color:white;
width: 400px;
text-align: center;
margin-top: 50px;
box-shadow:  10px 10px 5px #aaaaaa;
}
footer{
    text-align: center;
}